{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% load pagetag %}

{% block main %}

    <div class="lp-product-line">
        <div class="container">
        <div class="row text-center">

        {% for video in video_list %}
            <div class="col-md-3 lp-product-line-box">
            <a href="{% url 'blog:videoname' video %}">
                <div class="lp-product-line-box-content lp-api">
                    <h4>{{ video }}</h4>
                    <span class="lp-product-line-hover">立即前往</span>
                </div>
            </a>
            </div>
        {% empty %}
            <div class="no-post">暂时还没有发布的视频！</div>
        {% endfor %}

        </div>



        </div>


        </div>
    </div>
{% endblock main %}